<div class="collection-books">
    <div class="item-card">
        <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/2273/5667/products/51QQRmnMwDL_fe4cfc8e-7cda-4561-a236-05757782f0ae_900x.jpg?v=1589638470" alt=""></div>
        <button class="add-to-cart">ADD TO CART <i class="fa-solid fa-plus"></i></button>
        <div class="item-info">
            <div class="title">To the Bright Edge of the World</div>
            <div class="price">349.00</div>
        </div>
    </div>
    <div class="item-card">
        <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/2273/5667/products/51QQRmnMwDL_fe4cfc8e-7cda-4561-a236-05757782f0ae_900x.jpg?v=1589638470" alt=""></div>
        <button class="add-to-cart">ADD TO CART <i class="fa-solid fa-plus"></i></button>
        <div class="item-info">
            <div class="title">To the Bright Edge of the World</div>
            <div class="price">349.00</div>
        </div>
    </div>
    <div class="item-card">
        <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/2273/5667/products/51QQRmnMwDL_fe4cfc8e-7cda-4561-a236-05757782f0ae_900x.jpg?v=1589638470" alt=""></div>
        <button class="add-to-cart">ADD TO CART <i class="fa-solid fa-plus"></i></button>
        <div class="item-info">
            <div class="title">To the Bright Edge of the World</div>
            <div class="price">349.00</div>
        </div>
    </div>
    <div class="item-card">
        <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/2273/5667/products/51QQRmnMwDL_fe4cfc8e-7cda-4561-a236-05757782f0ae_900x.jpg?v=1589638470" alt=""></div>
        <button class="add-to-cart">ADD TO CART <i class="fa-solid fa-plus"></i></button>
        <div class="item-info">
            <div class="title">To the Bright Edge of the World</div>
            <div class="price">349.00</div>
        </div>
    </div>
</div>
